---
import {
  GISCUS_CATEGORY as CATEGORY,
  GISCUS_CATEGORY_ID as CATEGORY_ID,
  GISCUS_REPO as REPO,
  GISCUS_REPO_ID as REPO_ID,
} from 'astro:env/client'

export interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div
  class={className}
  data-comments
  data-giscus-repo={REPO}
  data-giscus-repo-id={REPO_ID}
  data-giscus-category={CATEGORY}
  data-giscus-category-id={CATEGORY_ID}
>
  <!-- Giscus will be initialized by Comments.hook.ts -->
</div>
